<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.lucian.dictionary.dao.CustomerMapper">
    <select id="login" resultType="top.lucian.dictionary.entity.Customer">
        select id,
               username,
               password,
               imageUrl,
               slogan,
               sex,
               date_format(birthday, '%Y-%m-%d') birthday,
               city,
               token
        from customer
        where username = #{username}
          and password = #{password};
    </select>

    <insert id="register" parameterType="top.lucian.dictionary.entity.Customer">
        insert into customer (id, username, password, imageUrl, slogan, sex, birthday, city, token)
        values (null, #{username}, #{password}, #{imageUrl}, #{slogan}, #{sex}, #{birthday}, #{city}, #{token});
    </insert>

    <select id="checkUserName" parameterType="String" resultType="String">
        select username
        from customer
        where username = #{username};
    </select>

    <update id="updatePass" parameterType="String">
        update customer
        set password = #{newPass}
        where username = #{username};
    </update>

    <update id="updateMessage" parameterType="top.lucian.dictionary.entity.Customer">
        update customer
        set username = #{username},
            password = #{password},
            sex      = #{sex},
            imageUrl = #{imageUrl},
            birthday=#{birthday},
            city=#{city},
            slogan=#{slogan}
        where id = #{id};
    </update>

    <!-- 定义resultMap，type为HashMap -->
    <resultMap id="PartMessageMap" type="java.util.HashMap">
        <!--        <id column="comment_user_id" property="customerId" jdbcType="INTEGER" />-->
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="imageUrl" property="imageUrl" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="QueryUserById" resultMap="PartMessageMap">
        select username, imageUrl
        from customer
        where id = #{id};
    </select>
</mapper>